tdqm==0.0.1
notebook==7.4.2
openai==1.82.0
elasticsearch==8.15.1
scikit-learn==1.6.1
pandas==2.2.3
python-dotenv==1.1.0
tiktoken==0.9.0
qdrant-client[fastembed]==1.14.3
dlt[qdrant]==1.13.0
minsearch==0.0.4
markdown==3.8.2
fastmcp==2.10.5